*
{
    box-sizing: border-box;
}

.wrapper
{
    width: 1280px;
    margin: 0 auto;
}

nav
{
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

header
{
    padding-top: 6vh;
    padding-left: 0.6vh;
    padding-right: 0.3vh;
    background-image: url("../images/start-screen-gradient-background.jpg"), url(../images/start-screen-background.jpg);
}

header h1
{
    font-size: calc(0.4rem + 2.9vh);
    margin: 0;
    color: #c6a892;
}
header h2
{
    font-size: calc(0.4rem + 2.9vh);
    margin: 0;
    color: white;
}
nav p
{
    font-size: calc(0.4rem + 1vh);
    margin: 0;
    padding-top: 0.5vh;
    padding-left: 0.5vh;
    color: white;
}

header ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 37%;
    margin: 0;
    padding-left: 0vh;
}

header li a
{
    text-decoration: none;
    color: white;
    font-size: calc(0.4rem + 0.95vh);
}

article
{
    background-image: url(../images/start-screen-puppy.png);
    background-repeat: no-repeat;
    background-position: 57vh 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 81.5vh; */
    height: 84.5vh;
    padding: 0vh 0 2vh 3vh;
}
.text
{
    height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1vh;
}
article p 
{
    width: 47vh;
    margin: 0;
    color: white;
    font-size: calc(0.4rem + 1vh);
}
article h2
{
    margin: 0;
    width: 35vh;
    font-size: calc(1.2rem + 2.9vh);
}
article button
{
    width: 21vh;
    border-radius: 30px;
    padding: 1.6vh 1vh 1.6vh 1vh;
    border: none;
    font-size: calc(0.6rem + 1vh);
}

.first-main
{
    height: 62.5vh;
    width: 66%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5vh;
}
.mainText
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    height: 42vh;
    padding-top: 1vh;
}
.mainText h3
{
    font-size: calc(1rem + 2vh);
    width: 80%;
    margin: 0;
}
.mainText p
{
    font-size: calc(0.4rem + 1vh);
    margin: 0;
    line-height: 2.5vh;
    height: 40%;
    display: flex;
    align-items: flex-start;
}
.mainText .first-p-mainText
{
    height: 30%;
    display: flex;
    align-items: center;
}


.second-main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f6f6f6;
    height: 94vh;
}
.images
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.images div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}