*
{
    box-sizing: border-box;
}

.wrapper
{
    width: 1280px;
    margin: 0 auto;
}

nav
{
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

header
{
    padding-top: 6vh;
    padding-left: 0.6vh;
    padding-right: 0.3vh;
    background-image: url("../images/start-screen-gradient-background.jpg"), url(../images/start-screen-background.jpg);
}

header h1
{
    font-size: calc(0.4rem + 2.9vh);
    margin: 0;
    color: #c6a892;
}
header h2
{
    font-size: calc(0.4rem + 2.9vh);
    margin: 0;
    color: white;
}
nav p
{
    font-size: calc(0.4rem + 1vh);
    margin: 0;
    padding-top: 0.5vh;
    padding-left: 0.5vh;
    color: white;
}

header ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 37%;
    margin: 0;
    padding-left: 0vh;
}

header li a
{
    text-decoration: none;
    color: white;
    font-size: calc(0.4rem + 0.95vh);
}

article
{
    background-image: url(../images/start-screen-puppy.png);
    background-repeat: no-repeat;
    background-position: 57vh 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 81.5vh; */
    height: 84.5vh;
    padding: 0vh 0 2vh 3vh;
}
.text
{
    height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1vh;
}
article p 
{
    width: 47vh;
    margin: 0;
    color: white;
    font-size: calc(0.4rem + 1vh);
}
article h2
{
    margin: 0;
    width: 35vh;
    font-size: calc(1.2rem + 2.9vh);
}
article button
{
    width: 21vh;
    border-radius: 30px;
    padding: 1.6vh 1vh 1.6vh 1vh;
    border: none;
    font-size: calc(0.6rem + 1vh);
}

.first-main
{
    height: 62.5vh;
    width: 66%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5vh;
}
.mainText
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    height: 42vh;
    padding-top: 1vh;
}
.mainText h3
{
    font-size: calc(1rem + 2vh);
    width: 80%;
    margin: 0;
}
.mainText p
{
    font-size: calc(0.4rem + 1vh);
    margin: 0;
    line-height: 2.5vh;
    height: 40%;
    display: flex;
    align-items: flex-start;
}
.mainText .first-p-mainText
{
    height: 30%;
    display: flex;
    align-items: center;
}


.second-main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f6f6f6;
    height: 94vh;
    padding-bottom: 7vh;
    padding-top: 5vh;
}
.second-main h3
{
    text-align: center;
    font-size: calc(0.6rem + 2.7vh);
    margin: 0;
}
.images
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 4vh;
}
.images-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83%;
    padding: 0 0.5vh;
}
.images .images-content div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 425px;
    border-radius: 5px;
    padding-bottom: 2.5vh;
}
.images .arrow
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f6;
    padding: 2.3vh 1.8vh;
    border: 2px solid orange;
    border-radius: 50px;
}
.images h4
{
    margin: 0;
    font-size: calc(1rem + 0.6vh);
}
.images button
{
    text-decoration: none;
    background-color: white;
    border: 2px solid orange;
    border-radius: 50px;
    padding: 1.5vh 5.1vh;
    font-size: calc(0.8rem + 0.6vh);
}
main > button
{
    text-decoration: none;
    background-color: white;
    border: 0px;
    background-color: orange;
    border-radius: 50px;
    padding: 1.5vh 5.4vh;
    font-size: calc(0.8rem + 0.6vh);
}


.third-main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 611px;
    padding: 80px 0 90px 0;
}
.third-main .icons
{
    height: 40%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 300px;
}
.line-icons
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second-line-icons
{
    width: 85%;
}
.line-icons div
{
    height: 133px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.third-main .icons div p
{
    font-size: calc(1.2rem + 0.6vh);
    margin: 0;
}
.third-main-text
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.third-main-text h3
{
    margin: 0;
    font-size: calc(2rem + 0.6vh);
}